<% content_for :title do %>Mix & Match Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Geoff Marett - Hong Kong" data-text="Mix & Match Dashboard" data-moreinfo="Contact Us: 137-6421-0641 | info@mixandmatch.cn"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="revenue-treat-28" data-view="Number" data-title="Treats" data-moreinfo="Revenue from people treating each other" data-prefix="짜" style="background-color:#ff9618;"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="revenue-self-28" data-view="Number" data-title="Self-Treats" data-moreinfo="Revenue from people treating themselves" data-prefix="짜" style="background-color:#ff9618;"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="revenue-day-28" data-view="Number" data-title="Day" data-moreinfo="Total revenue from today" data-prefix="짜"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="revenue-week-28" data-view="Number" data-title="Week" data-moreinfo="Total revenue from this week" data-prefix="짜"></div>
    </li>


    <li data-row="3" data-col="1" data-sizex="3" data-sizey="4">
      <div data-id="treats-28" data-view="List" data-unordered="true" data-title="Redeemed Drinks Today" data-moreinfo="Most recent treats "></div>
    </li>
  </ul>
</div>
