<% content_for :title do %>Mix & Match Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Welcome Real Shanghai" data-text="Enjoy Mix&Match Night!" data-moreinfo="Tip: You can ask the bartender to help treat!"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="revenue-treat" data-view="Number" data-title="Treats" data-moreinfo="Revenue from People Treating Each Other" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="revenue-self" data-view="Number" data-title="Self-Treats" data-moreinfo="Revenue from People Treating Themselves" data-prefix="$"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="4" data-sizey="4">
      <div data-id="treats" data-view="List" data-unordered="true" data-title="Redeemed Drinks" data-moreinfo="Most recent treats "></div>
    </li>
  </ul>
</div>
